.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .sign-in-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: #333;
    }
  
  }
  
  .sign-in-button {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #e24c4c !important;
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
   .bold{
    font-weight: "bold";
   }
  // .theme-color{
  //   color : #e24c4c;
  // }